{% extends 'bases/authentication_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="flex flex-col items-center py-8">
    <!-- Header Section -->
    <div class="w-3/5 flex items-start">
        <h2 class="text-2xl font-bold text-primary mb-4">Reset Password</h2>
    </div>

    <!-- Notification Message -->
    <div class="text-center w-3/5 bg-white p-6 rounded shadow-md">
        <p class="text-lg font-medium mb-4">
            We have sent you an email. If you have not received it, please check your spam folder.
        </p>
        <p class="text-lg font-medium mb-4">
            Otherwise, contact us if you do not receive it in a few minutes.
        </p>
        <a href="{% url 'users:account_login' %}" 
           class="py-2 px-4 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 inline-block">
            Sign In
        </a>
    </div>
</div>
{% endblock %}
