{% extends 'bases/authentication_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="flex flex-col items-center py-8">
    <!-- Header Section -->
    <div class="w-3/5 flex items-start">
        <h2 class="text-2xl font-bold text-primary mb-4">Reset Password</h2>
    </div>

    <!-- Reset Password Form -->
    <form method="post" action="{% url 'users:account_reset_password' %}" class="w-3/5 mb-20 bg-white p-6 rounded shadow-md">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_email" class="block text-black-700 font-bold required-label">Email</label>
            <input type="email" name="email" id="id_email" 
                   class="mt-2 w-full p-2 border border-black-900 rounded" 
                   required placeholder="Enter your email">
            {% if form.login.errors %}
                <div class="error-message mt-1 text-red-500">
                    {{ form.login.errors.0 }}
                </div>
            {% endif %}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full py-2 rounded btn-primary font-bold bg-blue-500 text-white hover:bg-blue-700">
            Reset Password
        </button>

        <!-- Redirect to Sign In -->
        <a href="{% url 'users:account_login' %}" 
           class="block w-full mt-4 py-2 text-primary text-center rounded font-bold hover:underline">
            Sign In
        </a>
    </form>
</div>
{% endblock %}
