{% extends "pages/base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="grid grid-cols-12">
    <div class="xl:col-span-12 col-span-12">
        <div class="box overflow-hidden">
            <div class="box-body">
                <div class="table-responsive">
                    <p class="h5 font-semibold mb-2 text-center">Reset Password</p>
                        
                    <form method="post" action="{% url 'users:account_change_password' %}" class="grid grid-cols-12">
                        {% csrf_token %}
                        
                        <!-- Current Password -->
                        <div class="xl:col-span-12 col-span-12 mb-3">
                            <label for="id_oldpassword" class="form-label text-default">Current Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control form-control-lg !border-s border-defaultborder dark:border-defaultborder/10 !rounded-e-none" id="id_oldpassword" name="oldpassword" placeholder="Current Password">
                                <button aria-label="button" class="ti-btn ti-btn-light !mb-0 !rounded-s-none" type="button" onclick="togglePasswordVisibility('id_oldpassword', this)" id="button-addon2">
                                    <i class="ri-eye-off-line align-middle"></i>
                                </button>
                            </div>
                            {% if form.oldpassword.errors %}
                                <ul class="errorlist">
                                    {% for error in form.oldpassword.errors %}
                                        <li><span class="text-red-500">{{ error }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <!-- New Password -->
                        <div class="xl:col-span-12 col-span-12 mb-3">
                            <label for="id_password1" class="form-label text-default">New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control form-control-lg !border-s border-defaultborder dark:border-defaultborder/10 !rounded-e-none" id="id_password1" name="password1" placeholder="New Password">
                                <button aria-label="button" class="ti-btn ti-btn-light !mb-0 !rounded-s-none" type="button" onclick="togglePasswordVisibility('id_password1', this)" id="button-addon21">
                                    <i class="ri-eye-off-line align-middle"></i>
                                </button>
                            </div>
                            {% if form.password1.errors %}
                                <ul class="errorlist">
                                    {% for error in form.password1.errors %}
                                        <li><span class="text-red-500">{{ error }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <!-- Confirm Password -->
                        <div class="xl:col-span-12 col-span-12 mb-3">
                            <label for="id_password2" class="form-label text-default">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control form-control-lg !border-s border-defaultborder dark:border-defaultborder/10 !rounded-e-none" id="id_password2" name="password2" placeholder="Confirm Password">
                                <button aria-label="button" class="ti-btn ti-btn-light !mb-0 !rounded-s-none" type="button" onclick="togglePasswordVisibility('id_password2', this)" id="button-addon22">
                                    <i class="ri-eye-off-line align-middle"></i>
                                </button>
                            </div>
                            {% if form.password2.errors %}
                                <ul class="errorlist">
                                    {% for error in form.password2.errors %}
                                        <li><span class="text-red-500">{{ error }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="xl:col-span-12 col-span-12 grid">
                            <button type="submit" class="ti-btn ti-btn-lg bg-primary text-white !font-medium dark:border-defaultborder/10">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    /**
     * Toggles the visibility of a password input field.
     * @param {string} inputId - The ID of the input field.
     * @param {HTMLElement} button - The button element triggering the toggle.
     */
    function togglePasswordVisibility(inputId, button) {
        const input = document.getElementById(inputId);
        const icon = button.querySelector('i');
        
        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('ri-eye-off-line');
            icon.classList.add('ri-eye-line');
        } else {
            input.type = 'password';
            icon.classList.remove('ri-eye-line');
            icon.classList.add('ri-eye-off-line');
        }
    }
</script>
{% endblock %}
